# GenLayer Studio development preview RPC and Contract Configuration
VITE_GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
VITE_CHAIN_ID=61997
VITE_EXPLORER_BASE_URL=https://explorer-studio-dev.genlayer.com
# Contract address must be set upon deployment (e.g. 0x...)
VITE_CONTRACT_ADDRESS=
